<mat-toolbar>
    <span class="title" routerLink="/">
        <mat-icon>villa</mat-icon>
        Map Mate
    </span>

    <span class="spacer"></span>

    <button mat-icon-button matTooltip="Edit project" (click)="editProject()" [disabled]="!project">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Open street view" (click)="openPopup('streetview')" [disabled]="!project">
        <mat-icon>man</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Open 3D map" (click)="openPopup('3d')" [disabled]="!project">
        <mat-icon>view_in_ar</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Open notes" (click)="openPopup('forum', true)" [disabled]="!project">
        <mat-icon>forum</mat-icon>
    </button>
</mat-toolbar>

<div class="body">
    @if (project$ | async; as project;) {
    <app-project-map [project]="project"></app-project-map>
    }
    @else {
    <div class="loading">
        <mat-spinner color="accent" diameter="50"></mat-spinner>
    </div>
    }
</div>