<mat-toolbar>
    <span class="title">
        <mat-icon>villa</mat-icon>
        Map Mate
    </span>

    <span class="spacer"></span>

    <button mat-icon-button matTooltip="Goto project overview" routerLink="/">
        <mat-icon>dataset</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Edit project">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Open notes">
        <mat-icon>forum</mat-icon>
    </button>
</mat-toolbar>

<div class="body">
    project works...
</div>
