.title {
    display: flex;
    gap: .5em;
    align-items: center;
    padding: .25em;
    cursor: pointer;

    &:hover {
        background-color: #e0e3e214;
        border-radius: 12px;
    }
}

.spacer {
    flex: 1 1 auto;
}

.body {
    height: calc(100% - 64px);

    .loading {
        display: flex;
        justify-content: center;
    }
}